<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Logowanie</title>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>

<h2>Logowanie</h2>
<form action="/auth/user-login" method="post">
  <!-- E-mail -->
  <label for="email">E-mail:</label><br>
  <input type="email" id="email" name="email" required><br><br>

  <!-- Hasło -->
  <label for="password">Hasło:</label><br>
  <input type="password" id="password" name="password" required><br><br>

  <!-- CAPTCHA -->
  <div class="g-recaptcha" data-sitekey="6LffRYYqAAAAAE6o2fZKI2PexiriDMok0AIF8DK5"></div><br>

  <!-- Przycisk -->
  <button type="submit">Zaloguj się</button>
</form>

<p th:if="${error}" th:text="${error}"></p>

</body>
</html>
